<!-- each category page -->
<div class="archive">
  <p class="archive_type">
  </p>
  <ul>
    <li>
        <time class="archive_date" datetime="">
        <div class='archive_title'>
          <a href="/Aboutme">About Me</a>
          </a>
        </div>
      </li>

  </ul>
</div>

<!-- main page -->
<div class="archive">
  <div>
    <p class="post_title">About Me</p>    
  </div>
</div> 
<div class="archive">
  <h2 id="contents">Contents</h2>
  <h2 id="introduction-and-contact">Introduction and Contact</h2>
  <p>
    "Hello"
  </p>  
</div>
