
<div class="post">
  <div>
    
    <p class="post_title">Portfolio-On</p>
    
  </div>
  <div class="post_content">
    
<h2 id="introduction">Introduction </h2>

<p>Hello, welcome to my personal page</p>
<p>My name is Daon, student at <a href="https://www.jbnu.ac.kr/kor/">JEONBUK National University of Korea</a>.</p>
<p>My first Major is Biology and second major is Computer Science</p>
<p>My personal resume for career is <a href="/aboutme/CV.pdf">here</a>  and my gitHub is <a href="https://github.com/EinHungerkuenstler">here</a>.</p>

<p>To reach me, you can send an e-mail to <a href="mailto:luminant46@gmail.com">luminant46@gamil.com</a>.</p>

<p> </a>.</p>

<h2 id="academic-interests">Academic Interests</h2>

<p>My academic interest lies bioinformatics</p> 
<p>(A little tidbit: I worked on an <a href="https://www.keti.re.kr/main/main.php"> KETI Jeonbuk Regional Headquarters </a>.</p>

<p>Besides, I am also intrigued by mathematical logic and formalizing mathematics. During that same first year at Imperial, I worked on the other <a href="/study/Imperial_mathematics/year_1/UROP/UROP_main">UROP</a> that involved building a group theory game on a website, aiming to teach people to prove mathematical propositions in Lean (a kind of functional programming language) and the basic concepts and theorems in group theory. My friends and I are still working on it. When it was polished, I will put a link here.</p>

<p>I’m also drawn to applied mathematics, which nudges me towards the realms of optimization, data science, and machine learning.</p>

<h2 id="career-and-entrepreneurship">Career and Entrepreneurship</h2>

<p>When mathematics gets a bit overwhelming, I ponder a path that involves being a quantitative analyst in a buyer sider finance company or a data scientist in a tech outfit. I’m well aware that these paths are no easy journey, yet I’m striving to strike a balance between my studies and hands-on skills.</p>

<p>Truth be told, I’m not very certain about finding a long-term spot in the academic world. It’s a realm of fierce competition, even more challenging than landing a position in a top hedge fund with handsome rewards. This uncertainty has led me to consider other avenues. In fact, I’m currently on the lookout for internships in quantitative analysis and data science, particularly for my second-year summer break.</p>

<p>In addition, I’m also a founder and co-founder of <a href="https://mp.weixin.qq.com/s/q-YlYrhkzNo1mfha0E4QKw">DAA</a> a Study Abroad Service Company. Our focus is on helping students explore opportunities for studying abroad, especially in Commonwealth countries. This involves providing guidance for international courses like A-level, AP, IB, as well as preparing for Oxbridge admission exams and advice on writing a personal statement to apply university，etc. The name of our company is inspired by the famous British comedy, <a href="https://en.wikipedia.org/wiki/Yes_Minister"><em>Yes, Minister</em></a> , specifically the Department of Administrative Affairs. A friend of mine suggested the name. I initiated this effort with the intention of supporting students from regular high schools in China who aspire to pursue education abroad.</p>

  </div>
</div>
